/* Uncomment this and delete everything between the <style> </style> if you want to use external sheets.
also you can comment out <style> using <!--  --> because it is CSS you have to use /*    */
/*
body {
  background-color: blue;
}
header, footer {
  background-color: purple;
  color: white;
}
.border_example{
  border: thick solid red;
}

#Experiences {
  border: thick dashed orange;

}
*/
caption {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
}
table, th, td {
  border:1px solid #0d1f2d;
  border-collapse: collapse;
  padding: 5px 10px;
}
table{
  width:90%;
  margin: auto;
}
tr{height:30px;
  background-color: white;
}
th{
  background-color: #546a7b;
  color: #f2eded;
}
  tr:nth-child(odd) {
    background-color: #e4c3ad;
  }
